<header class="header-6">
  <div class="branding">
    <a routerLink="/ressources/list">
      <span class="title">Ressources</span>
    </a>
  </div>
  <!-- <form class="search">
      <label for="search_input">
          <input id="search_input" type="text" placeholder="Search for ressources...">
      </label>
  </form> -->
</header>

<main role="main">
  <div class="container p-3">
    <router-outlet></router-outlet>
  </div>
</main>
