<ng-template #loading>
    <div class="col-12" style="text-align: center; padding: 2rem;">
        
    </div>
</ng-template>

<ng-container *ngIf="isLoaded; else loading">
    <div class="clr-row">
        <div class="clr-col-12">
            <h1>
                My Ressources
                <button class="btn btn-outline" (click)="insert()"><clr-icon shape="plus"></clr-icon></button>
            </h1>
        </div>    
    </div>
    <div class="clr-row">
        <div class="clr-col-xl-2 clr-col-lg-3 clr-col-md-4 clr-col-sm-6" *ngFor="let ressource of ressources">
            <div class="card clickable">
                <div class="card-header">
                    <div class="clr-row clr-align-items-center clr-justify-content-between">
                        <div class="title clr-col-6">
                            {{ ressource.name }}
                        </div>
                        <div class="clr-col-5 btn-group btn-primary btn-icon">
                            <button class="btn btn-outline" (click)="update(ressource.id)">
                                <clr-icon shape="note"></clr-icon>
                            </button>
                            <button class="btn btn-danger-outline" (click)=delete(ressource.id)>
                                <clr-icon shape="times"></clr-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <p class="card-text">
                        {{ ressource.smallDescription }} <clr-icon shape="unlock" *ngIf="ressource.isFree"></clr-icon><clr-icon shape="lock" *ngIf="!ressource.isFree"></clr-icon>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>